black==25.1.0
click==8.2.0
flake8==7.2.0
isort==6.0.1
mccabe==0.7.0
mypy==1.15.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
pyshark==0.6
platformdirs==4.3.8
pycodestyle==2.13.0
pyflakes==3.3.2
typing_extensions==4.13.2
